.face{
    width: 500px;
    height: 500px;
    background-color: rgb(235, 183, 115);
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.eye{
    width: 100px;
    height: 100px;
    background-color: #aaa;
    border-radius: 100px;
    position: absolute;
}

.left{
    top: 30px;
    left: 20px;
}

.right{
    top: 30px;
    right: 20px;
}

.dot{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.mouth{
    width: 200px;
    height: 80px;
    background-color: #aaa;
    position: absolute;
    bottom:10px;
    left: 50%;
    margin-left: -100px;
    overflow: hidden;
}

.thought{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 50px;

}