@media screen and (max-width: 800px) {
    .header{
        .header-mobile-switch{
            display: flex;
        }

        .header-logo{
            flex: 1;
        }
    
        .header-menu ul{
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
            background: $header-bg;
            display: none;
        }

        .header-lang{
            display: none;
        }
    }

    #mobile-checkbox{
        &:checked{
            ~.header-mobile-switch{
                >span{
                    background: rgb(2, 134, 88);

                    &:first-child{
                        transform: rotate(45deg);
                        top: 10px;
                    }

                    &:nth-child(2){
                        transition: none;
                        visibility: hidden;
                    }

                    &:last-child{
                        transform: rotate(-45deg);
                        top: -10px;
                    }
                }
            }

            ~.header-menu ul{
                display: flex;
            }
        }
    }
}

