@media screen and (max-width: 800px) {
    .hader {
        .hadre-conter{
            .menu {
                display: none;
            }
    
            .mobile-switch{
               display: flex;
            }

            #mobile-switch-box{
                &:checked{
                    ~.menu{
                        display: block;
                    }

                    ~.mobile-switch{
                        >span{
                            background: orange;

                            &:first-child{
                                position: relative;
                                transform: rotate(45deg);
                                top: 5px;
                            }

                            &:nth-child(2){
                                display: none;
                            }

                            &:last-child{
                                position: relative;
                                transform: rotate(-45deg);
                                top: -5px;
                            }
                        }
                    }
                }
            }
        }
    }
}