#header {
    background: yellow;

    &:hover {
        background: blue;
    }

    .title {
        color: red;
    }
}

.block{
    >.item{
        background: red;
        color: yellow;
        &hover{
            background: black;
        }
    }
}